<div class="row">
  <div class="span4">
    <%= form_tag "/search", :method => 'get' do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], :class => 'span2' %>
        <%= submit_tag "Search", :class => 'btn', :id => 'submit' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h1>Books</h1>
    <table class="table table-striped">
      <% @books.each do |book| %>
        <tr>
          <td>
            <dl class="dl-horizontal">
              <dt>Title:</dt>
              <dd><strong><%= book.title %></strong></dd>
              <dt>Author:</dt>
              <dd><%= book.author.name %></dd>
            </dl>
          </td>
          <td>
              <img class="img-polaroid" src="<%= book.small_image %>" />
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @books, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
